:root {
  --bg-primary: #121212;
  --bg-secondary: #1b1d24;
  --text-primary: #fff;
  --color-accent: #00b0ff;
  --color-accent-focus: #058bc7;
  --color-accent-inactive: #043d56;
  --color-danger: #ee210c;
  --color-danger-focus: #d02b1a;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: hidden;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
}

a,
a:visited {
  color: var(--color-accent);
  text-decoration: none;
}

.text-accent {
  color: var(--color-accent);
}

.text-accent--inactive {
  color: var(--color-accent-inactive);
}

.text-bold {
  font-weight: bold;
}

.text-regular {
  font-weight: normal;
}

.button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.button-accent {
  color: var(--text-primary);
  background-color: var(--color-accent);
  transition: background-color 0.3s ease-in-out;
}

.button-accent:focus,
.button-accent:hover {
  background-color: var(--color-accent-focus);
}

.button-danger {
  color: var(--text-primary);
  background-color: var(--color-danger);
  transition: background-color 0.3s ease-in-out;
}

.button-danger:focus,
.button-danger:hover {
  background-color: var(--color-danger-focus);
}

.scrollable.scrollable-y {
  overflow-y: scroll;
  height: 220px;
}

.slideUp {
  animation: slideUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.slideDown {
  animation: slideDown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation: fadeIn 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

.quickFadeIn {
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
